<h1>Hakamileへようこそ！</h1>
<p>Hakamile（ハカマイル）は、有名人の墓所情報と訪問記録を共有できる、墓マイラーのためのコミュニティサイトです。</p>
<p>墓マイラーの探訪を助け、コミュニティ形成を目的としています。</p>
<%= image_tag 'hakamile-about-hero.jpg', alt: 'Hakamileイメージ', class: 'img-fluid' %>