<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="text-center mb-4">
        <%= @grave.name %> への墓参日記
      </h2>
      
      <div class="card">
        <div class="card-body">
          <%= render 'form', post: @post, grave: @grave %>
        </div>
      </div>
      
      <div class="text-center mt-3">
        <%= link_to '戻る', grave_path(@grave), class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>
</div>