<div class="container my-5">
  <div class="row">
    <div class="col-md-8 offset-md-2 text-center">
      <h2 class="display-5 mb-4">お問い合わせ<br>ありがとうございました。</h2>
      <p class="lead">
        内容を確認の上、担当者よりご連絡させていただきます。
      </p>
      <%= link_to "トップページへ戻る", root_path, class: "btn btn-primary mt-3" %>
    </div>
  </div>
</div>